.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.location-img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.haeding-p {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  color: gray;
  font-weight: lighter;
}

/* Modal content box */
.modal-content {
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px; /* Maximum width of modal */
  border-radius: 10px; /* Rounded corners */
  text-align: center;
  position: relative; /* Needed for the close button */
}

.rule-image {
  width: 400px; /* Full width */
  height: auto; /* Keep aspect ratio */
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Hover effect for close button */
.close:hover,
.close:focus {
  color: #000;
}

/* Modal animation (optional) */
.modal-content {
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0;}
  to {top: 0; opacity: 1;}
}

/* Responsive Styles */
@media (max-width: 768px) {
  .modal-content {
    max-width: 400px; /* Maximum width of modal */
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading-header, .heading {
    display: none;
  }

  .rule-image {
    width: 200px; /* Reduced width */
    height: 200px; /* Reduced height */
    object-fit: contain;
  }
}
